@using System.Collections
@model WebApplication.Models.Report

@{
    ViewBag.Title = "Отчет";
}

<h2>Создание отчета</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Выберите фильтры</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="form-group col-md-5">
                @Html.LabelFor(model => model.FilterDenominations, htmlAttributes: new { @class = "control-label col-md-3", })
                <div class="checkbox-inline" style="width: 45px">
                    @Html.ListBoxFor(model => model.FilterDenominations, new MultiSelectList((IEnumerable)ViewBag.FilterDenominations))
                </div>
            </div>

            <div class="form-group col-md-5">
                @Html.LabelFor(model => model.FilterMarks, htmlAttributes: new { @class = "control-label col-md-3", })
                <div class="checkbox-inline" style="width: 45px">
                    @Html.ListBoxFor(model => model.FilterMarks, new MultiSelectList((IEnumerable)ViewBag.FilterMarks))
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-md-5" >
                @Html.LabelFor(model => model.FilterStatus, htmlAttributes: new { @class = "control-label col-md-3", })
                <div class="checkbox-inline" style="width: 45px">
                    @Html.ListBoxFor(model => model.FilterStatus, new MultiSelectList(new[] { "В работе", "В ремоне", "Списано" }))
                </div>
            </div>

            <div class="form-group col-md-5">
                @Html.LabelFor(model => model.FilterModernisation, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="radio-inline">
                    @Html.RadioButtonFor(model => model.FilterModernisation, "whatever", true)<span>Не важно</span> <br />
                    @Html.RadioButtonFor(model => model.FilterModernisation, "true")<span>Да</span> <br />
                    @Html.RadioButtonFor(model => model.FilterModernisation, "false")<span>Нет</span> <br />
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-md-5">
                @Html.LabelFor(model => model.FilterCities, htmlAttributes: new { @class = "control-label col-md-3", })
                <div class="checkbox-inline" style="width: 45px">
                    @Html.ListBoxFor(model => model.FilterCities, new MultiSelectList((IEnumerable)ViewBag.FilterCities))
                </div>
            </div>

            <div class="form-group col-md-5">
                @Html.LabelFor(model => model.FilterResponsibles, htmlAttributes: new { @class = "control-label col-md-3", })
                <div class="checkbox-inline">
                    @Html.ListBoxFor(model => model.FilterResponsibles, new MultiSelectList((IEnumerable)ViewBag.FilterResponsibles),  htmlAttributes: new { @class = "responsible" })
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<style>
     
     input, button, select, textarea {
         display: block;
        
         height: 34px;
         padding: 6px 12px;
         font-size: 14px;
         line-height: 1.428571429;
         color: #555;
         vertical-align: middle;
         background-color: #fff;
         border: 1px solid #ccc;
         border-radius: 4px;
     }
     input[type=radio] {
        width: 15px;
        height: 15px
    }
   
    select {
        width: 150px
    }

    .responsible {
        width: 250px}

</style>

